.container {
  text-align: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.home-title {
  max-width: 50rem;
  margin: 0 auto;
}

.gradient-text {
  background: linear-gradient(90deg, #7c3aed, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.subtext {
  text-align: justify;
  color: #4b5563;
  font-size: 0.95rem;
  max-width: 50rem;
  margin: 1.5rem auto;
}

.rede-numeros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 2rem;
}

.card-nuvem {
  flex: 1;
  min-width: 60%;
  background-color: #f9fafb;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card-nuvem h2 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.areas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.75rem;
  justify-content: center;
}

.area {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #6366f1;
  background-color: #fff;
  white-space: nowrap;
  transition: all 0.3s ease;
  color: #6366f1;
}

.cards-destaque {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-width: 250px;
}

.card-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  width: 100%;
  color: white;
}

.card-info div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.card-info i {
  width: 24px;
  height: 24px;
}

.card-info.purple {
  background: linear-gradient(90deg, #a78bfa, #c4b5fd);
}

.card-info.blue {
  background: linear-gradient(90deg, #38bdf8, #7dd3fc);
}

.card-info strong {
  font-size: 1.5rem;
  display: block;
}

.card-info p {
  font-size: 0.85rem;
  margin: 0;
}

.talentos-container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .cards-destaque {
    width: 100%;
  }
  .subtext {
    font-size: 0.85rem;
  }
}
/* TABLET */

@media (min-width: 501px) and (max-width: 850px) {
  .cards-destaque {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    align-items: center;
    width: 100%;
  }
}
